body {
    max-width: 540px;
    min-width: 320px;
    color: #000;
    margin: 0 auto;
    background: #fafafc;
    font: 400 16px/1.5 PingFangSC-regular,
        Tahoma,
        "Lucida Grande",
        Verdana,
        "Microsoft Yahei",
        STXihei,
        hei;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

/* 搜索模块 */
.search-index {
    display: flex;
    position: fixed;
    /* 固定定位必须有宽度，且与父级无关，以屏幕为准 并且不占空间*/
    top: 0;
    left: 50%;
    /* 盒子自身宽度的一半 */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    z-index: 2;
    /* background-color: pink; */
}

.search {
    position: relative;
    height: 28px;
    line-height: 26px;
    border-radius: 15px;
    font-size: 12px;
    padding-left: 44px;
    margin: 8px 8px;
    color: #666;
    flex: 1;
    background-color: #fff;
}

.search::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 15px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite1.png) no-repeat 0 0;
    background-size: 21px auto;
}

.user {
    display: block;
    width: 51px;
    height: 44px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.user::before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: url(../images/sprite1.png) no-repeat 0 -36px;
    background-size: 21px auto;
    margin: 4px auto 0;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    border-radius: 10% 10%;
    /* position: relative;
    top: 0;
    left: 0;
    right: 0; */
    transform: translateY(-20%);
}


.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
}

.banner-icon {
    position: absolute;
    left: 0;
    top: 110px;
    font-size: 12px;
    width: 52px;
    height: 28px;
    line-height: 28px;
    opacity: .9;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: scale(.5);
    transform-origin: 0 0;
    border: 1px solid #666;
}

.local {
    position: relative;
}

.local-nav {
    position: absolute;
    top: -100px;
    left: 3%;
    right: 3%;
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    /* margin: 3px 4px; */
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.local-nav li span:nth-child(2) {
    font-size: 12px;
    color: #000;
}

.local-nav li [class^="local-nav-icon"] {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 40px auto;
}

.local-nav li .local-nav-icon-icon2 {
    background: url(../images/localnav_bg.png) no-repeat 0 -40px;
    background-size: 40px auto;
}

.local-nav li .local-nav-icon-icon3 {
    background: url(../images/localnav_bg.png) no-repeat 0 -80px;
    background-size: 40px auto;
}

.local-nav li .local-nav-icon-icon4 {
    background: url(../images/localnav_bg.png) no-repeat 0 -120px;
    background-size: 40px auto;
}

.local-nav li .local-nav-icon-icon5 {
    background: url(../images/localnav_bg.png) no-repeat 0 -160px;
    background-size: 40px auto;
}

nav {
    border-radius: 8px;
    margin: -25px 4px 3px;
    overflow: hidden;
}

.nav-wrap {
    display: flex;
    height: 66px;
    background-color: pink;
}

.nav-wrap:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5d56, #ffd051);
}

.nav-wrap:nth-child(2) {
    margin: 1px 0;
    background: -webkit-linear-gradient(left, #4b90ed, #53bbed);
}

.nav-wrap:nth-child(3) {
    background: -webkit-linear-gradient(left, #36c3a8, #67d35d);
}

.nav-wrap-item {
    display: flex;
}

.nav-wrap-item:nth-child(1) {
    flex: 1.3;
    background: url(../images/nav_hotel.png) no-repeat 100% 100%;
    background-size: 73px auto;
}

.nav-wrap-item:nth-child(2) {
    flex: 1;
    background: url(../images/nav_minsu.png) no-repeat 0 100%;
    background-size: 37px auto;
}

.nav-wrap-item:nth-child(3) {
    flex: 2;
    background: url(../images/nav_plane.png) no-repeat 100% 100%;
    background-size: 89.5px auto;
}

.nav-wrap-item:nth-child(1) a {
    flex: 1;
    font-size: 14px;
    color: #fff;
    padding-left: 12px;
    line-height: 66px;
}

.nav-wrap-item:nth-child(n+2) a {
    flex: 1;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 66px;
}

.nav-wrap-item:nth-child(3) a {
    position: relative;
}

.nav-wrap-item:nth-child(3) a::before {
    content: '方便又便宜';
    font-size: 12px;
    position: absolute;
    top: 10px;
    padding: 0 5px;
    right: 28px;
    color: #fff;
    background: #f54c45;
    border-radius: 7px 7px 7px 0;
    line-height: 1.2;
}


/* -n+2表示前两个元素 */
.nav-wrap-item:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.nav-wrap2-item {
    flex: 1;
    display: flex;

}

.nav-wrap2-item:nth-child(1) {
    flex: 1.3;
    background: url(../images/nav_fly.png) no-repeat 100% 100%;
    background-size: 79.5px auto;

}

.nav-wrap2-item:nth-child(1) a {
    flex: 1;
    font-size: 14px;
    color: #fff;
    padding-left: 12px;
    line-height: 66px;
}


.nav-wrap2-item:nth-child(n+2) a {
    flex: 1;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 66px;
}


.nav-wrap2-item:nth-child(-n+3) {
    border-right: 1px solid #fff;
}

.nav-wrap .nav-wrap3-img {
    background: url(../images/nav_beach.png) no-repeat 100% 100%;
    background-size: 93.5px auto;
}

.subnav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px 12px;
    /* padding-bottom: 12px; */
    background-color: #fafafc;
}

.subnav li {
    flex: 0 0 20%;
}

.subnav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav li span:nth-child(2) {
    font-size: 12px;
    text-align: center;
    color: #000;
}

.subnav li [class^="subnav-icon"] {
    width: 28px;
    height: 28px;
    margin: 10px 0 3px;
    background-color: pink;
    background: url(../images/subnav_sprite.png) no-repeat 0px 0px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon2 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -28px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon3 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -56px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon4 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -84px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon5 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -112px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon6 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -140px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon7 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -168px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon8 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -196px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon9 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -224px;
    background-size: 28px auto;
}

.subnav li .subnav-icon-icon10 {
    background: url(../images/subnav_sprite.png) no-repeat 0px -252px;
    background-size: 28px auto;
}

.sales {
    border-top: 2px solid #dbdbdb;
    background-color: #fff;
}

.sales-hd {
    position: relative;
    height: 44px;
    margin: 0 12px;
}

.sales-bottom {
    border-bottom: 1px solid #dbdbdb;
}

.sales-hd h2 {
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
}

.sales-hd h2::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 79px;
    height: 15px;
    background: url(../images/sales_hd.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.sales-hd-ad {
    width: 36px;
    height: 15px;
    position: absolute;
    top: 12%;
    left: 90px;
    background: url(../images/sales_ad.png) no-repeat;
    background-size: 36px auto;
}

.sales-hd a {
    position: absolute;
    top: 2px;
    right: 3px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    color: #fff;
    padding: 0 15px 0 10px;
    font-size: 14px;
}

.sales-hd a {
    background: -webkit-linear-gradient(left, #ff4e63, #ff6cc9);
}

.sales-hd a::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}