	body{
			font-family: monospace;
		}
		span{
			display: inline-block;
			display-style:box;
			border: 1px solid lightgray;
			width:120px;
			margin-bottom:5px;
		}
			.btn{
				text-align: center;
				width:80px;
				height:30px;
				
			}
			textarea{
				width: 100%;
				min-height: 300px;
			}
		